@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
:root{
    --red:#ff0000;
    --orange:#ff8c00;
    --yellow:#ffff00;
    --green:#008000;
    --blue:#0000ff;
    --indigo:#4b0082;
    --purple:#800080;
}
section{
    height:100vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}
a{
	font-family: 'Kanit', sans-serif;
    text-decoration: none;
	font-weight:600;
}
a:hover{
	background:linear-gradient(to left, red, blue);
	font-style:underline;
	color:transparent;
	-webkit-background-clip:text;
	background-clip:text;
}
html,body{
    width:99.7%;
    height:100%;
	scroll-behavior:smooth;
    font-family: 'BhuTuka Expanded One', cursive;
}
body{
	background-color:black;
    display:flex;
    margin:0;
}
#container{
    animation:bgcolor 6s infinite;
    position:absolute;
    height:200%;
    width:99.5%;
    display:flex;
	flex-direction:column;
    justify-content:center;
	align-items:center;
}
@keyframes bgcolor{
    0%{
        background:#111111;
    }
    50%{
        background:black;
    }
    100%{
        background:#111111;
    }
}

#header{
	animation:bgcolor 6s infinite;
    width:100%;
    height:4vh;
    /* border-image:linear-gradient(120deg, red,black);
    border-image-slice:1; */
	position:fixed;
    top:0px;
    font-size: 20px;
    font-weight: bolder;
    display:flex;
    justify-content: space-around;
    align-items:center;
    box-sizing:border-box;
    border-bottom:2px solid grey;
}
#header>a{
	color:white;
}



#main{
	display:flex;
	flex-direction:column;
	width:100%;
	justify-content:flex-start;
	align-items:stretch;
}

.section{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	
	margin:1px;
}

.info{
	color:white;
	width:100%;
	font-size:13px;
	font-weight:700;
	vertical-align:center;
	box-sizing:border-box;
	margin-top:6vh;
	margin-bottom:3vh;
	border-bottom:1px ridge transparent;
	border-image:linear-gradient(to right, red,blue);
	border-image-slice:1;
	padding:0 0 1.5vh 1vw;
}

#aboutContainer{
	border:2px soild white;
	width:99.8%;
	height:300px;
	display : flex;
	flex-direction:row;
	justify-content:space-between;
	box-sizing:border-box;
	padding:20px;
	align-items:center;
}
#picture{
	width:200px;
	height:200px;
	border : 2px dashed white;
}
#words{
	width:50%;
	height:280px;
	border : 2px solid white;
}
#footer{
	margin-top:auto;
	width:99.8%;
	height:8vh;
	border:2px solid white;
}

