html, body{
	width:100%;
	height:100%;
	margin:0;
	display:flex;
	justify-content:center;
	align-items:center;
}
#container{
	display:flex;
	flex-direction:column;
	align-items:stretch;
	justify-content:flex-start;
	width:50%;
}
#container > div{
	margin-bottom:10px;
}
#article{
	text-align:center;
	font-size:38px;
	margin-bottom:10px;
}
.form{
	width:100%;
	height:100%;
}
input{
	width:100%;
	height:100%;
	font-size:30px;
	padding-left:3px;
	box-sizing:border-box;
	border:none;
	outline:2px solid black;
}
input:focus{
	outline:2px solid #2bcdee;
	border:none;
	color:#2bcdee;
}
input::placeholder{
	font-size:30px;
	color:black;
}
input:focus::placeholder{
	color:transparent;
}
#footer{
	border:2px solid black;
}
#info{
	
}
#submitBtn{
	
}